
#page1{
    font-size:50%;
    font-family: fantasy;
    float: left;
}

#page2{
    font-family:fantasy;
    float: right;
    
}

#page3{
  font-family:fantasy;   
}

#page4{
 font-family:fantasy;   
}

#page5{
    font-family: fantasy;
}

#page6{
    font-family: fantasy;
    
}

#page7{
    font-family: serif;
}